<div class="news">
    {% for hash in site.data.news %}
        {% assign news = hash[1] %}
        {% if news.status == "new" %}
            <div class="news__row">
                <span class="news__date">{{ news.date }}</span>
                <div class="news__body">
                    {% if news.type == "paper" %}
                        <span class="news__tag news__tag--paper">Paper</span>
                        {% if news.venue %}
                            New paper <a href="{{ news.paper_link }}"><em>{{ news.paper_title }}</em></a> was accepted to {{ news.venue }}.
                        {% else %}
                            Check out our new paper <a href="{{ news.paper_link }}"><em>{{ news.paper_title }}</em></a>.
                        {% endif %}
                    {% elsif news.type == "news" %}
                        <span class="news__tag news__tag--news">News</span>
                        <a href="{{ news.news_link }}">{{ news.host }}</a> {{ news.content }}.
                    {% elsif news.type == "award" %}
                        <span class="news__tag news__tag--award">Award</span>
                        {{ news.content }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
