<div class="news-archives">
    <ul>
        {% for hash in site.data.news %}
        {% assign news = hash[1] %}

            {% if news.status == "archive" %}
                {% if news.type == "paper" %}
                    <li><b>[{{ news.date }}]</b> New paper <a href="{{ news.paper_link }}"><i>{{ news.paper_title }}</i></a> was accepted by {{ news.venue }}!</li>
                {% elsif news.type == "news" %}
                    <li><b>[{{ news.date }}]</b> Our work <a href="{{ news.paper_link }}"><i>{{ news.paper_title }}</i></a> {{ news.content }} <a href="{{ news.news_link }}">{{ news.host }}</a>!</li>
                {% elsif news.type == "graduate"%}
                    <li><b>[{{ news.date }}]</b> {{ news.content }}. Congratulations!</li>
                {% elsif news.type == "award" %}
                    <li><b>[{{ news.date }}]</b> {{ news.content }}</li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>