<div class="people-grid">
    {% for hash in site.data.people %}
        {% assign person = hash[1] %}
        {% if person.status == status %}
            {% if person.status == "principal investigator" %}
                <a class="person person--pi" href="{{ person.website }}" target="_blank" rel="noreferrer noopener">
                    <img src="{{ person.photo }}" alt="{{ person.name }}" />
                    <div class="person__info">
                        <span class="person__name">{{ person.name }}</span>
                        <span class="person__title">{{ person.title }}</span>
                        {% if person.title2 %}
                            <span class="person__title">{{ person.title2 }}</span>
                        {% endif %}
                    </div>
                </a>
            {% elsif person.status == "current" %}
                <a class="person" href="{{ person.website }}" target="_blank" rel="noreferrer noopener">
                    <img src="{{ person.photo }}" alt="{{ person.name }}" />
                    <div class="person__info">
                        <span class="person__name">{{ person.name }}</span>
                        <span class="person__title">{{ person.title }}</span>
                    </div>
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
