<div class="talks">
    {% for hash in site.data.talks %}
        {% assign talk = hash[1] %}
        {% if talk.status == "new" %}
            <article class="talk">
                <h4 class="talk__title"><a href="{{ talk.link }}">{{ talk.title }}</a></h4>
                <p class="talk__meta">{{ talk.venue }} · {{ talk.year }}</p>
                {% if talk.embed_link %}
                    <div class="talk__video">
                        <iframe src="{{ talk.embed_link }}" allowfullscreen loading="lazy"></iframe>
                    </div>
                {% endif %}
            </article>
        {% endif %}
    {% endfor %}
</div>
